# Ocrmypdf Config File
#
# The contents of this file are exactly one command-line option per line,
# including the "value" following the option, if any.
#
# Any blank lines or lines BEGINNING with a '#' are ignored

# Deskew
#--deskew

# Enable automatic rotation
#--rotate-pages

# Configure automatic rotation threshold (in arbitrary units defined by tesseract)
#--rotate-pages-threshold 2.1
