# ocrmypdf-auto Config File
#
# The contents of this file are exactly one command-line option per line,
# including the "value" following the option, if any.
#
# Any blank lines or lines BEGINNING with a '#' are ignored

# Common OCRmyPDF options (see ocrmypdf --help for full current list!)

# Deskew the input file before OCR (and rebuild the output file with the skew correction)
--deskew

# Enable automatic page rotation based on tesseract orientation and script detection
--rotate-pages

# Configure automatic rotation threshold (in arbitrary units defined by tesseract)
#--rotate-pages-threshold 4

# Clean the pages before running OCR (e.g. removing background colors)
#--clean

# Use the cleaned output as the final output file as well (normally, --clean just
# cleans the input file before OCR, but does not update the output image)
#--clean-final

# Control the number of simultaneous jobs within OCRmyPDF. Recommended to set this to
# 1 to allow ocrmypdf-auto to control parallelism (rather than OCRmyPDF internals)
--jobs 1

# OCRmyPDF by default stops processing if any text is found within the input PDF.
# Skip Text instructs it to instead copy any pages containing text to the output and
# keep looking at further pages. Without this setting, OCRmyPDF will produce NO
# output for an input PDF that already contains text. Recommended to SET this option
# for ocrmypdf-auto usage, so that one output file is generated for every input.
--skip-text

# Output a text file alongside the converted PDF that contains the OCR text
# NOTE: --sidecar accepts an explicit filename parameter, but there's no way to
#       form a unique value for this in ocrmypdf-auto's config file today :(
#       The default output path will be the same location as the PDF itself, but
#       with a .txt suffix instead of .pdf.
#--sidecar
